# Database
DB_USER=wled
DB_PASSWORD=YourDatabasePassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wled

# Server Config
VITE_API_HOST=127.0.0.1
VITE_API_PORT=8000

# App Metadata
VITE_APP_NAME="WLED Controller"
VITE_APP_HOST=127.0.0.1
VITE_APP_PORT=3030
COPYRIGHT_NAME="Your Name Here"