@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, sans-serif;
  scrollbar-gutter: stable;
}

.input {
  background: #020617;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 12px;
  color: white;
}